{% block nacholibre_category_type_errors %}
    {% if errors | length > 0 -%}
    <div class="alert alert-danger">
        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif %}
{% endblock %}

{% block nacholibre_category_type_widget %}
<!-- category move marker doesn't show in bootstrap modal, needs higher zindex -->
<style>
    #jstree-marker {
        z-index:9999;
    }
</style>

<div class="modal fade categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">
                {% if form.vars.label %}
                {{ form.vars.label }}
                {% else %}
                {{ form.vars.name | capitalize }}
                {% endif %}
                <img src='/bundles/nacholibreadmin/img/loading.gif' width="130" height="130" class='mloading' style='width:30px; height:30px; opacity:0;' />
                </h4>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'nacholibreCategoryBundle:Admin/Category:_showCategories',
                    { 'type': category_type }
                )) }}

                <!-- JStree theme -->
                <link href="{{ asset('bundles/nacholibrecategory/vendor/jstree-3.3.1/dist/themes/default/style.min.css') }}" rel="stylesheet" type="text/css">

                <!-- JStree script -->
                <script src="{{ asset('bundles/nacholibrecategory/vendor/jstree-3.3.1/dist/jstree.min.js') }}"></script>

                {% include "nacholibreCategoryBundle:Admin:scripts.html.twig" with {'type': category_type, 'max_levels': category_max_levels, 'modal': true} %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close' | trans }}</button>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <div class="form-group">
            <label class="control-label" for="product_images">
                {% if form.vars.label %}
                {{ form.vars.label }}
                {% else %}
                {{ form.vars.name | capitalize }}
                {% endif %}
            </label>
            {{ form_errors(form) }}
            <div class='nacholibre_category_selector'>
                <div class="input-group">
                    <input type="text" id='categories_search' maxlength="255" class="form-control" placeholder='{{ 'search_categories' | trans }}' autocomplete="off">
                    <div class="input-group-btn">
                        <button type='button' class='btn btn-success' data-toggle='modal' data-target=".categoryModal">{{ 'modify_categories' | trans }}</button>
                    </div>
                </div>
                <div class='categories'>
                    {{ block('hidden_widget') }}
                    <div class='search'>
                        <div class='subTitle'>{{ 'search' | trans }}</div>
                        <div class='options'>
                        </div>
                    </div>
                    <div class='subTitle'>{{ 'chosed_categories' | trans }}</div>
                    <div class='chosed'>
                    </div>
                    <div class='subTitle'>{{ 'list_categories' | trans }}</div>
                    <div class='cloading' style='width:30px; height:30px; background-color:#fff; border-radius:6px; display:none;'>
                        <img src='/bundles/nacholibreadmin/img/loading.gif' width="30" height="30" />
                    </div>
                    <ul class='cc'>
                        {% for catData in categories %}
                        <li>
                            <span class='categoryName' data-id='{{ catData.category.id }}'>{{ catData.category.getName() }}</span>
                            {% if catData.children | length %}
                            <ul>
                                {% for subData in catData.children %}
                                <li>
                                    <span class='categoryName' data-id='{{ subData.category.id }}'>{{ subData.category.getName() }}</span>
                                    {% if subData.children | length %}
                                    <ul>
                                        {% for subData in subData.children %}
                                        <li><span class='categoryName' data-id='{{ subData.category.id }}'>{{ subData.category.getName() }}</span></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        {#
        <button class='btn btn-default btn-info'>Избери категории</button>
        #}
    </div>
</div>

{% include 'nacholibreCategoryBundle::styles.html.twig' with {name: null} %}
{% include 'nacholibreCategoryBundle::scripts.html.twig' with {name: null} %}
{% endblock %}
